<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estado</title>
</head>
<body>
    <div class="modal-fade" id="modalEstado" tabindes="-1" role="dialog" aria-labelledby="ejemplo" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header"></div>
            <h5 class="modal-title" id="modalEstado">Modificar Estado</h5>
            <button type="button" class="cerrar" data-dismiss="modal" aria-label="Cerrar"></button>
                
        </div>
    </div>
</body>
</html>